In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
train=pd.read_csv('train.csv')

In [5]:
train.head()

,Age,Age.Group,Gender,Locality,Marital status,Life.Style,Sleep,Category,Depression,Hyperlipi,...,oldpeak,slope,ca,thal,num,SK,SK.React,Reaction,Mortality,Follow.Up
0,45,41-50,Female,RURAL,MARRIED,NO,NO,FREE,YES,YES,...,3.0,2,0,7,2,1,NO,0,0,60
1,51,51-60,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,1.2,2,0,7,2,1,NO,0,0,15
2,55,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,3.4,2,0,3,2,1,NO,0,0,6
3,55,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,2.0,2,1,7,3,1,NO,0,0,52
4,56,51-60,Female,RURAL,MARRIED,YES,NO,FREE,YES,YES,...,4.0,3,2,7,3,1,NO,0,0,34

In [6]:
pd.unique(train['restecg'])

array([2, 0, 1], dtype=int64)

In [7]:
pd.unique(train['Gender'])

array(['Female', 'Male'], dtype=object)

In [8]:
pd.unique(train['Age'])

array([45, 51, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 24, 25, 35, 38,
       40, 44, 46, 47, 50, 52, 53, 54, 64, 67, 68, 69, 70, 77],
      dtype=int64)

In [9]:
#Dado que encontre que hay personas con edad null, cunatos existen
train['Age'].isna().sum()

0

In [10]:
train['Age'].mean()

54.29347826086956

In [11]:
train['Age']=train['Age'].fillna(train['Age'].mean())

In [12]:
train["Age"].isna().sum()

0

In [13]:
train.isna().sum()

Age                                                                                         0
Age.Group                                                                                   0
Gender                                                                                      0
Locality                                                                                    0
Marital status                                                                              0
Life.Style                                                                                  0
Sleep                                                                                       0
Category                                                                                    0
Depression                                                                                  0
Hyperlipi                                                                                   0
Smoking                                                                                     0
Family.History                                                                              0
F.History                                                                                   0
Diabetes                                                                                    0
HTN                                                                                         0
Allergies                                                                                   0
BP                                                                                          0
Thrombolysis                                                                                0
BGR                                                                                         0
B.Urea                                                                                      0
S.Cr                                                                                        0
S.Sodium                                                                                    0
S.Potassium                                                                                 0
S.Chloride                                                                                  0
C.P.K                                                                                       0
CK.MB                                                                                       0
ESR                                                                                         0
WBC                                                                                         0
RBC                                                                                         0
Hemoglobin                                                                                  0
P.C.V                                                                                       0
M.C.V                                                                                       0
M.C.H                                                                                       0
M.C.H.C                                                                                     0
PLATELET_COUNT                                                                              0
NEUTROPHIL                                                                                  0
LYMPHO                                                                                      0
MONOCYTE                                                                                    0
EOSINO                                                                                      0
Others                                                                                      0
CO                                                                                          0
Diagnosis                                                                                   0
Hypersensitivity                                                                            0
cp                                                                                          0
trestbps                                                                                    0
chol                                                                                        0
fbs                                                                                         0
restecg                                                                                     0
thalach                                                                                     0
exang                                                                                       0
oldpeak                                                                                     0
slope                                                                                       0
ca                                                                                          0
thal                                                                                        0
num                                                                                         0
SK                                                                                          0
SK.React                                                                                    0
Reaction                                                                                    0
Mortality                                                                                   0
Follow.Up                                                                                   0
dtype: int64

In [14]:
# Aqui toma las columnas que me sirven para le problema
train=train[['restecg','Gender','Age','Mortality']]

In [15]:
# Este elimina las filas que tengan algun nulo
train=train.dropna() 
#Luego eliminados los duplicados
train=train.drop_duplicates()

In [16]:
trainDatax=train[['restecg','Gender','Age']]
trainDatay=train[['Mortality']]
print(trainDatay.head(),"\n", trainDatax.head())

   Mortality
0          0
1          0
2          0
4          0
5          1
    restecg  Gender  Age
0        2  Female   45
1        0  Female   51
2        1  Female   55
4        2  Female   56
5        2  Female   56